@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: icomoon;
    /* Гарнитура шрифта */
    src: url(../font/icomoon.ttf);
    /* Путь к файлу со шрифтом */
}

body {
    font-family: 'Montserrat', sans-serif;
    /*width: 1366px;*/
}

a:hover {
    cursor: pointer;
}

.header {
    background: url(../img/slider-img.jpg) no-repeat;
    /* height: 200px; */
    background-size: 100%;
    /*height: 800px;*/
}

.menuLogo {
    padding: 63px 98px 288px;
}

.menuLogo a img {
    float: left;
}

.menu {
    float: right;
    position: relative;
    top: -10px;
}

.menu li {
    float: left;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.menu li a:last-child {
    margin-right: 20px;
}

.menu a img {
    position: relative;
    top: 10px;
}
.menu li a {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
}

.menu li a:hover,

.menu li a:active {
    border-bottom: 3px solid black;
}

.text {
    padding: 10px 63px 80px;
    /* width: calc(100% - 63px - 63px); */
    width: calc(100% - 63px - 63px - 409px);
}

.text h3 {
    /*font-family: Montserrat;*/
    color: #43a047;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    /*text-align: left;*/
}

.text h1 {
    color: #212121;
    font-size: 62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;
    margin-top: 22px;
    text-transform: uppercase;

    /* Приближение из-за подстановки шрифтов */
    /* text-align: left;*/
}

.text p {
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    display: block;
    /* position: relative; */
    margin-top: 32px;
}

.text a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);

    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 45px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    border-radius: 22px;

    text-transform: uppercase;
    width: 212px;
    height: 45px;
    margin-top: 32px;
}

.text a:hover {
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}

.section_product {
    padding: 120px 107px 96px;
}

div#menu-1 {
    float: left;
    position: relative;
    top: -20px;
    border-bottom: 1px solid #6c6c6c;
}



div#explore_all {
    float: right;
}

#menu-1 ul li {
    float: left;
    list-style: none;
}

#menu-1 ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #6c6c6c;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-decoration: none;
}

#explore_all a {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
}

#explore_all a:hover,
#menu-1 ul li a:hover {
    border-bottom: 3px solid black;
}

.section_product_block {
    padding: 0 107px;
    width: 100%;
}


.section_product_block div:hover #product_explorer_all_hover {
    display: block;
}

#product_explorer_all_hover {
    display: none;
    text-align: center;
    position: absolute;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    /*width: 268px;*/
    /*  height: 268px;*/
    z-index: 2;
    /*margin-top: -274px;*/
    top: 0;
    height: 100%;
}

#product_explorer_all_hover a {
    text-decoration: none;
    position: relative;
    top: 62px;
}

#product_explorer_all_hover h3 {
    color: #212121;
    font-size: 21.91px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    /* transform: scaleX(1.0041);
        margin-top: 19px; */
    position: relative;
    top: 19px;
}

#product_explorer_all_hover p {
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    /* transform: scaleX(1.0041);
        margin-top: 23px;
        margin-left: 32px;
        margin-right: 32px; */
    position: relative;
    top: 23px;
}

#product_explorer_all_hover img {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    /* margin-top: 62px;
        margin-left: 11px; */
    padding: 14px 18px;
    /*         width: 12px;
        height: 20px; */
    /*content: url(../img/arrow.png);*/
}

.block_chear {
    padding: 110px 0 calc(100%/2);
}

.block_chear div {
    float: left;
    position: relative;
    width: calc(100%/2);
}

.block_chear div img {
    width: 100%;
}

#promo {
    /* display: none; */
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 218px 52px 10px;
    width: calc(100% - 52px - 222px);
}

#promo h3 {
    color: #1e88e5;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    /* text-align: left; */
    text-transform: uppercase;
}

#promo h2 {
    color: #212121;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /* text-align: left; */
}

#promo p {
    color: #6c6c6c;
    font-size: 13.99px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    margin-top: 24px;
    /* Приближение из-за подстановки шрифтов */
    /* text-align: left;
        transform: scaleY(1.0022); */
    /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
    /* margin-right: 259px;
        width: 374px; */
}

#promo a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 45px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    border-radius: 22px;
    /* margin-top: 34px; */
    text-transform: uppercase;
    position: relative;
    top: 34px;
}

#promo a:hover {
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}

.section_trending {
    padding: 120px 107px 96px;
}

.section_trending p {
    float: left;
    color: #212121;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.section_trending a {
    float: right;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.section_trending a:hover {
    border-bottom: 3px solid black;
}

.trending_products_all {
    padding: 0 107px 80px;
    width: 100%;
}

.trending_products_all div:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.hot_deal {
    /*padding: 70px 0 0;*/
    position: relative;
}

.hot_deal img {
    width: 100%;
}

#hot_deal_slider {
    display: inline-block;
    position: absolute;
    /* top: 287px; */
    /* height: 36px; */
    z-index: 2;
    top: 0;
    padding: 287px 52px 10px;
    width: calc(100% - 52px - 782px);
}

#hot_deal_slider h3 {
    color: #e53935;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    ;
    text-transform: uppercase;
}

#hot_deal_slider h2 {
    color: #212121;
    font-size: 62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;
    /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
}

#hot_deal_slider p {
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    margin-top: 34px;
}

#hot_deal_slider a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 45px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    border-radius: 22px;
    margin-top: 32px;
    text-transform: uppercase;
}

#hot_deal_slider a:hover {
    background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}

.product_section {
    padding: 0 107px calc(100%/12);
}

.product_big {
    float: left;
}

.product_big img {
    width: 100%;
}

.product_row {
    /* float: right; */
    /* padding: 0 0 0 120px; */
}

.exclusive_product1 {
    /* position: relative; */
    /* left: calc(100%/2 - 143px); */
    /* display: inline-block; */
    /* margin-right: calc(100%/2 - 143px); */
}


.mobile_app {
    background: url(../img/back-img.png) no-repeat;
    position: relative;
    background-size: 100%;
    /* min-height: 100%; */
    padding: calc(100%/3) 0 0;
}

#mobile_app {
    position: absolute;
    top: 0;
    padding: 79px 107px;
    /*display: inline-block;*/
    /* margin-left: 99px; */
}

#mobile_app h3 {
    color: #6c6c6c;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;


    text-transform: uppercase;
}

#mobile_app h2 {
    color: #212121;
    font-size: 62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;

    /* margin-bottom: 26px; */
    text-transform: uppercase;
    width: calc(100% - 20px);
}

#mobile_app p {
    color: #6c6c6c;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    margin-top: 26px;
    /* Приближение из-за подстановки шрифтов */
}

#mobile_app a {
    display: inline-block;
    margin-top: 32px;
}

